{% extends "timelockrecovery/base.jinja" %}
{% block main %}
    <img src="{{ url_for(service.id +'_endpoint' + '.static', filename=service.logo) }}" width="300"/>
    {% from 'timelockrecovery/components/timelockrecovery_menu.jinja' import timelockrecovery_menu with context %}
    {{ timelockrecovery_menu(tab) }}
    {% block content %}
    {% endblock %}
{% endblock %}